/Phoenix Airline/nbproject/private/
/Phoenix Airline/build/
/AdminDashboard/nbproject/private/
/AdminDashboard/build/
/AdminDashboard1/nbproject/private/
/AdminDashboard1/build/
/StaffG1Proj/nbproject/private/
/StaffG1Proj/build/
/Test1/nbproject/private/
/Test1/build/